<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <superSocket>
    <servers>
      <server name="BoxServer" serverTypeName="BoxServer" ip="Any" port="2758" sendTimeOut="10000" idleSessionTimeOut="720">
      </server>

    </servers>
    <serverTypes>
      <add name="BoxServer" type="SuperSocket.QuickStart.TelnetServer_StartByConfig.TelnetServer, SuperSocket.QuickStart.TelnetServer_StartByConfig"/>
    </serverTypes>
  </superSocket>
</configuration>
