<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chloe" version="2.24.0" targetFramework="net461" />
  <package id="Chloe.Extension" version="1.11.0" targetFramework="net461" />
  <package id="Chloe.MySql" version="2.24.0" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net461" />
</packages>